# clang-tidy configuration for this project.
#
# Explanation for why some of the checks are disabled:
#
# -google-default-arguments: Too verbose to use in all contexts. Prefer to leave this up to the developer.
# -misc-header-include-cycle: Header include cycles are useful in header-only libraries with split declaration and
#    definition headers, where the declaration header includes the definition header at the bottom but the definition
#    header also includes the declaration header at the top the same way a source file would for developer convenience.
# -misc-include-cleaner: Does not seem to work very well, often requiring inclusion of private headers if that is where 
#    public APIs are actually declared, which is the case even for some standard library headers.
# -modernize-use-trailing-return-type: This is purely stylistic and controversial. Prefer to leave this up to the
#    developer.
# -performance-enum-size: Not a priority for our codebase.

# Top-level config file.
InheritParentConfig: False

Checks: >
  -*,
  abseil-*,
  boost-*,
  bugprone-*,
  concurrency-*,
  cppcoreguidelines-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -performance-enum-size,
  -modernize-use-trailing-return-type,
  -misc-include-cleaner,
  -misc-header-include-cycle,
  -google-default-arguments,

# Only lint dex header files (not system or thirdparty).
HeaderFilterRegex: '^\.\/dex\/'

# Use .clang-format file for formatting automated fixes.
FormatStyle: 'file'

# Treat all warnings as errors.
WarningsAsErrors: '*'

CheckOptions:
  # CharTypdefsToIgnore is a typo for CharTypedefsToIgnore.  Fixed in the next clang.
  - key: bugprone-signed-char-misuse.CharTypdefsToIgnore
    value: 'int8_t'
  - key: concurrency-mt-unsafe.FunctionSet
    value: glibc
  - key: google-runtime-int.TypeSuffix
    value: _t
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.ClassConstantCase
    value: 'lower_case'
  - key: readability-identifier-naming.ClassConstantIgnoredRegexp
    value: '^k[0-9]*([A-Z][a-z0-9]*)+$|^[a-zA-Z](_([A-Z]|([a-z0-9]+)))*_?$|^([a-z0-9]+_)+_?$'
  - key: readability-identifier-naming.ClassMemberCase
    value: lower_case
  - key: readability-identifier-naming.ClassMemberIgnoredRegexp
    value: '^[a-zA-Z](_([A-Z]|([a-z0-9]+)))*_?$|^([a-z0-9]+_)+$'
  - key: readability-identifier-naming.PublicMemberCase
    value: lower_case
  - key: readability-identifier-naming.PublicMemberIgnoredRegexp
    value: '^[a-zA-Z](_([A-Z]|([a-z0-9]+)))*_?$|^([a-z0-9]+_)+$'
  - key: readability-identifier-naming.ConceptCase
    value: CamelCase
  - key: readability-identifier-naming.ConstantCase
    value: 'lower_case'
  - key: readability-identifier-naming.ConstantIgnoredRegexp
    value: '^k[0-9]*([A-Z][a-z0-9]*)+$|^[a-zA-Z](_([A-Z]|([a-z0-9]+)))*$'
  - key: readability-identifier-naming.ConstexprFunctionCase
    value: CamelCase
  - key: readability-identifier-naming.ConstexprFunctionIgnoredRegexp
    value: 'parse' # Needed by fmt
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantIgnoredRegexp
    value: '.*'
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalFunctionCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalFunctionIgnoredRegexp
    value: '^format_as$|^from_json$|^to_json$' # Needed by fmt, nlohmann::json
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MethodCase
    value: CamelCase
  - key: readability-identifier-naming.MethodIgnoredRegexp
    value: '^format$|^from_json$|^to_json$'
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.NamespaceIgnoredRegexp
    value: '^[a-z]+(_[a-z]+)*_$'
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.ParameterIgnoredRegexp
    value: '^[a-zA-Z](_([A-Z]|([a-z0-9]+)))*$'
  - key: readability-identifier-naming.PrivateMemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _
  - key: readability-identifier-naming.PrivateMemberIgnoredRegexp
    value: '^[a-zA-Z](_([A-Z]|([a-z0-9]+)))*_$'
  - key: readability-identifier-naming.ProtectedMemberCase
    value: lower_case
  - key: readability-identifier-naming.ProtectedMemberSuffix
    value: _
  - key: readability-identifier-naming.ProtectedMemberIgnoredRegexp
    value: '^[a-zA-Z](_([A-Z]|([a-z0-9]+)))*_$'
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  - key: readability-identifier-naming.TypeTemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.UnionCase
    value: CamelCase
  - key: readability-identifier-naming.ValueTemplateParameterCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.VariableIgnoredRegexp
    value: '^[a-zA-Z](_([A-Z]|([a-z0-9]+)))*$'
  - key: readability-simplify-boolean-expr.SimplifyDeMorgan
    value: false
  - key: readability-uppercase-literal-suffix.NewSuffixes
    value: L;LL;LU;LLU

