bazel-bin
bazel-out
bazel-testlogs
bazel-*
node_modules/
user.bazelrc
/.coveragerc
/.env
.clwb
.idea
.vscode
/.devcontainer/
.venv
*.venv
__pycache__
/compile_commands.json
/.cache/
/reports/
coverage.dat
private/

